* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 22px;
}

body {
  min-height: 100vh;
  font-family: 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  display: grid;
  grid-template-areas: 
    "header header header"
    "left main right"
    "footer footer footer";
  grid-template-columns: 20% auto 20%;
  grid-template-rows: 60px auto 60px;
  height: 100vh;
}

header {
  grid-area: header;
  background-color: #6E6E6E;
  color: #BAFF39;
  display: flex;
  align-items: middle;
  justify-content: space-between;
  padding: 10px;
  height: 50px;
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: start;
  width: 20%;
}

.logo{
  height: auto;
  align-items: middle;
  max-width: 250px;
}

.header-title{
  flex: 1;
  text-align: center;
  font-size: 30px;
}

main {
  grid-area: main;
  background-color: white;
  padding: 15px;
}

footer {
  grid-area: footer;
  background-color: #6E6E6E;
  color: #BAFF39;
  text-align: center;
  padding: 15px;
}

/* Right Sidebar */
.right-sidebar {
  grid-area: right;
  background-color: #f4f4f4;
  padding: 15px;
}

/* Left Sidebar */
.left-sidebar {
  grid-area: left;
  background-color: #f4f4f4;
  padding: 15px;
}
